<div class="chart_title"><h4>{{ chart.title }}</h4></div>
{#<div id="chart_{{ chart.name }}" onload="loadData('{{ chart.name }}')" class="chart">#}
<div id="chart_{{ chart.name }}" class="chart">
</div>
<div>
<pre>
    {{ chart.series_list }}
</pre>
</div>
<script>
    var dataRefreshInterval = 10;
    var startTime =(new Date()).getTime();
    var active = true;
    var count_failures = 0;
    var max_consecutive_failures = 3;

    var series_map = {
        {%  for series_name in chart.series_list %}
            '{{ series_name }}': {{ loop.index0 }},
        {% endfor %}
    };

    {% if chart.live %}
    var lastIndices = {};
    function getObjectByName(arr, value) {

        for (var i=0, iLen=arr.length; i<iLen; i++) {
            console.log(arr[i].name, value);
            if (arr[i].name == value) return arr[i];
        }
    }

    function loadData(chart) {
        var data_series = chart.series;
        console.log("Loading data: ", lastIndices);
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:40900/get',
            dataType: 'json',
            data: JSON.stringify(lastIndices),
            success: function(data, textStatus, jqXHR){
                console.log(Date());
                console.log("Success", data);
                count_failures = 0;
                for (var series_name in series_map) {
                    if (series_map.hasOwnProperty(series_name)) {
                        console.log("Check ", series_name);
                        var series_index = series_map[series_name];
                        var dp;
                        if (data.hasOwnProperty(series_name)) {
                            for (var j = 0; j < data[series_name].length; j++) {
                                dp = data[series_name][j];
                                console.log("Add datapoint", dp, series_index);
                                data_series[series_index].addPoint(dp);
                            }
                        } else {
                            dp = [(new Date()).getTime(), 0];
                            console.log("Add datapoint", dp, series_index);
                            data_series[series_index].addPoint(dp);
                        }
                    }
                }
                if (data.hasOwnProperty('events')) {
                    console.log("lets go..");
                    for (var i = 0; i < data.events.length; i++) {
                        var ev = data.events[i];

                        var s = getObjectByName(data_series, ev.name);
                        if (s) {
                            s.addPoint(ev, false);
                            console.log("Added event", ev)
                        }
                    }
                }
                lastIndices = data.indices;
{#                if (data.hasOwnProperty('ts_ref_0_95perc')) {#}
{#                    for (var i = 0; i < data.ts_ref_0_95perc.length; i++) {#}
{#                        var dp = data.ts_ref_0_95perc[i];#}
{#                        console.log(dp);#}
{#                        data_series[0].addPoint(dp);#}
{#                    }#}
{#                } else {#}
{#                    var x = (new Date()).getTime();#}
{#                    var y = 0;#}
{#                    data_series[0].addPoint([x, y]);#}
{#                }#}
                chart.redraw();
            },
            error: function(jqXHR, textStatus, errorThrown) {
{#                console.error("FAIL", jqXHR, textStatus, errorThrown);#}
                count_failures += 1;
                console.log("Increased count_failures", count_failures);
            }
        });

{#        var x = (new Date()).getTime(), // current time#}
{#            y = Math.round(Math.random() * 100);#}
{#        var x = 0,#}
{#                y = 0,#}
{##}
{#        data_series[0].addPoint([x, y], true, true);#}
{#        console.log("Added point", [x, y]);#}

    }
    function getData(){
        // set up the updating of the chart each second
        var chart = this;
        loadData(chart);
{#        console.log(chart.series);#}
        chart.redraw();
        setInterval(function () {
            console.log("Failures", count_failures, max_consecutive_failures);
            if (count_failures < max_consecutive_failures) {
                loadData(chart);
            }
        }, dataRefreshInterval * 1000);
    }
    {% endif %}

    var initialize_data = function () {
        // generate an array of random data
        var data = [], time = (new Date()).getTime(), i;

        var min_value = -999 * dataRefreshInterval;
        for (i = min_value; i <= 0; i += dataRefreshInterval) {
            data.push([
                time + i * 1000,
                0
            ]);
        }
        //console.log(data[0]);
        return data;
    };
    $(function () {

        Highcharts.setOptions({
            global : {
                useUTC : false
            }
        });



        // Create the chart
        var defaults = {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
{#            animation: Highcharts.svg,#}
            xAxis: {
                ordinal: false
            },
            rangeSelector: {
                buttons: [{
                    count: 1,
                    type: 'minute',
                    text: '1M'
                }, {
                    count: 5,
                    type: 'minute',
                    text: '5M'
                }, {
                    type: 'all',
                    text: 'All'
                }],
                inputEnabled: false,
                selected: 1
            },

            exporting: {
                enabled: true
            },
{#            series: [#}
{#                {%  for series_name in chart.series_list %}#}
{#                    {#}
{#                        name: '{{ series_name }}',#}
{#                        data: initialize_data()#}
{#                    },#}
{#                {% endfor %}#}
{#            ],#}
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                floating: true,
                borderWidth: 0,
                y: -25
            }
        };

    {% if chart.live %}
        defaults['chart']['events'] = {
            load: getData
        };
    {% endif %}

        var custom = {{ chart.json|safe }};
        var chart_properties = $.extend(true, {}, defaults, custom);
        console.log(custom);
        console.log(chart_properties);
{#        console.log(chart_properties.series2[0]);#}
        $('#chart_{{ chart.name }}').highcharts('StockChart', chart_properties);

    });
</script>
<div id="data_{{ chart.name }}" style="display: none">
</div>
