<div class="chart_title"><h4>{{ chart.title }}</h4></div>
<div id="chart_{{ chart.name }}" onload="loadData('{{ chart.name }}')" class="chart">

</div>
<script>
    $(function () {
        var defaults = {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            navigation: {
                buttonOptions: {
                    verticalAlign: 'bottom',
                    y: 0
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
{#                floating: true,#}
                borderWidth: 0,
{#                y: -25#}
            }
        };

        $('#chart_{{ chart.name }}').highcharts($.extend(true, defaults, {{ chart.json }}));
    });

    {##}
    {#                        {#}
    {#                    title: {#}
    {#                        text: '{{ chart.title }}',#}
    {#                        text:''#}
    {#                    },#}
    {#                    subtitle: {#}
    {#                        text: '{{ chart.subtitle }}',#}
    {#                    },#}
    {#                    xAxis: [{#}
    {#                        categories: [{{ chart.categories }}],#}
    {#                        crosshair: true#}
    {#                    }],#}
    {#                    yAxis: [{#}
    {#                        title: {#}
    {#                            text: '{{ chart.y_title }}'#}
    {#                        },#}
    {#                        plotLines: [{#}
    {#                            value: 0,#}
    {#                            width: 1,#}
    {#                            color: '#808080'#}
    {#                        }]#}
    {#                    },#}
    {#                        {{ chart.secondary_axis }}#}
    {#                    ],#}
    {#                    tooltip: {#}
    {#                        valueSuffix: '{{ chart.tooltip.value_suffix if chart.tooltip }}'#}
    {#                    },#}
    {#                    legend: {#}
    {#                        layout: 'horizontal',#}
    {#                        align: 'right',#}
    {#                        verticalAlign: 'bottom',#}
    {#                        floating: true,#}
    {#                        borderWidth: 0,#}
    {#                        y: -25#}
    {#                    },#}
    {#                    series: {{ chart.series }}#}
    {#                });#}
    {#            });#}
</script>
<div id="data_{{ chart.name }}" style="display: none">
</div>
