    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#panel_{{ chart.name }}">
                        {{ chart.title }}
                    </a>
                </h4>
            </div>
            <div id="panel_{{ chart.name }}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div>
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="{{ chart.name }}_ymin">Y Min</label>
                            <input type="text" class="form-control" id="{{ chart.name }}_ymin">
                          </div>
                          <div class="form-group">
                            <label for="{{ chart.name }}_ymax">Y Max</label>
                            <input type="email" class="form-control" id="{{ chart.name }}_ymax">
                          </div>
                        </form>
                    </div>
                    <div id="chart_{{ chart.name }}" class="chart">
                    </div>
                    <div>
                        <pre>
                            {{ chart.conditions }}, live: {{ live }}
                        </pre>
                    </div>
                    <br/>
                    <script>
                        {% if chart.conditions %}
                            var chart_{{ chart.name }} = new TimeSeries(
                                    '#chart_{{ chart.name }}', {{ chart.conditions|safe }}, {{ chart.json|safe }}, {{ 'true' if live else 'false' }}
                            );
                        {% else %}
                            var chart_{{ chart.name }} = new TimeSeries(
                                    '#chart_{{ chart.name }}', {}, {{ chart.json|safe }}, {{ 'true' if live else 'false' }}
                            );
                        {% endif %}

                        if (typeof data !== 'undefined') {
                            chart_{{ chart.name }}.addData(data);
                        }
                        chart_{{ chart.name }}.start();

                        $('#{{ chart.name }}_ymin').bind('input', function(){
                            chart_{{ chart.name }}.updateYAxis($(this).val(), null);
                        });

                        $('#{{ chart.name }}_ymax').bind('input', function(){
                            chart_{{ chart.name }}.updateYAxis(null, $(this).val());
                        });

                    </script>
                    {#<div id="data_{{ chart.name }}" style="display: none">#}
                    {#</div>#}
                </div>
{#                <div class="chart_title"><h4>{{ chart.title }}</h4></div>#}
            </div>
        </div>
    </div>

