{% extends "report_template.html" %}
{% block content %}
    <div class="row report_title">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h3>Response Time: API Call and Active Instance - Fixed n<br/>
{#                <small>Parallel: Launched n instances as fast as possible using multiple hosts</small>#}
                <small>{{ title }}</small>
            </h3>
        </div>
    </div>
    <div class="row">
    {% for chart in charts.resp_time_per_n %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>

    <div class="row report_title">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h3>Response Time: API Call and Active Instance - Variable n<br/>
                <small>{{ title }}</small>
{#                <small>Parallel: Launched n instances as fast as possible using multiple hosts</small>#}
            </h3>
        </div>
    </div>
    <div class="row">
    {% for chart in charts.resp_time_all_n %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>

{%  endblock %}