{% extends "report_template.html" %}
{% block content %}
    <div class="row report_title">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h3>OpenStack Delay Analysis<br/>
{#                <small>Parallel: Launched n instances as fast as possible using multiple hosts</small>#}
                <small>{{ title }}</small>
            </h3>
        </div>
    </div>
    <div class="row">
    {% for chart in charts.agg_delays %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
    <div class="row report_title">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h3>OpenStack Delay Evolution<br/>
{#                <small>Parallel: Launched n instances as fast as possible using multiple hosts</small>#}
                <small>{{ title }}</small>
            </h3>
        </div>
    </div>
    <div class="row">
    {% for chart in charts.agg_delays_evol %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
    <div class="row report_title">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h3>Extra<br/>
{#                <small>Parallel: Launched n instances as fast as possible using multiple hosts</small>#}
                <small>{{ title }}</small>
            </h3>
        </div>
    </div>
    <div class="row">
    {% for chart in charts.delays %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
    <div class="row">
    {% for chart in charts.reversed_delays %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
{%  endblock %}