{% extends "report_template.html" %}
{% block content %}
    <div class="row">
    {% for chart in charts.resp_time_all %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
    <div class="row">
    {% for chart in charts.errors_all %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
    <div class="row">
    {% for chart in charts.resp_time_range %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'chart.html' %}
        </div>
    {% endfor %}
    </div>
{%  endblock %}