<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ relative_path or '.' }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ relative_path or '.' }}/css/report.css">

    <script src="{{ relative_path or '.' }}/js/jquery.min.js"></script>
{#    <script src="js/highcharts.js"></script>#}
    <script src="{{ relative_path or '.' }}/js/highstock.js"></script>
    <script src="{{ relative_path or '.' }}/js/highcharts-more.js"></script>
    <script src="{{ relative_path or '.' }}/js/exporting.js"></script>
    <script src="{{ relative_path or '.' }}/js/export-csv.js"></script>
    <script src="{{ relative_path or '.' }}/js/timeseries.js"></script>
    <script src="{{ relative_path or '.' }}/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
    {% block content %}
    <div class="tiles">
    {% for chart in charts %}
    {% include 'chart.html' %}
    {% endfor %}
    </div>
    {% endblock %}
    </div>
</body>
</html>