{% extends "report_template.html" %}
{% block content %}

{% if not live %}
<script>
    var data = {{ data|safe }};
    {%  if data_file is defined %}
    $.ajax({
        url: '{{ data_file }}',
        async: false,
        dataType: 'json',
        success: function (response) {
            data = {};
            data['events'] = response['events'];
            delete response['events'];
            data['series'] = response;
        }
    });
    {% endif %}
</script>
{% endif %}

{% for chart in charts.timelines %}
<div class="row">
    <div class="col-md-12">
    {% include 'chart_timeline.html' %}
    </div>
</div>
{% endfor %}

{% for chart in charts.timeseries %}
<div class="row">
    <div class="col-md-12">
    {% include 'chart_timeseries.html' %}
    </div>
</div>
{% endfor %}

{% endblock %}

<script>
var charts = [];
</script>

