.page_title {
    text-align: center;
}

.chart_title {
    text-align: center;
}

.tiles div {
    float: left;
}

.chart {
    width: 100%;
    /*min-width: 400px;*/
    height: 450px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}